.glare-hover-wrapper {
  position: relative;
  display: block; 
  width: 106%;
  height: 100%;
}

.glare-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none; /* allow clicks to pass through */
  border-radius: inherit; /* follow card corners */
  background: linear-gradient(
    var(--gh-angle),
    hsla(0,0%,100%,0) 50%,
    var(--gh-rgba) 60%,
    hsla(0,0%,100%,0) 80%
  );
  background-size: var(--gh-size) var(--gh-size), 100% 100%;
  background-repeat: no-repeat;
  background-position: -150% -150%, 0 0;  
}

.glare-hover-wrapper:hover .glare-overlay {
  background-position: 150% 150%, 0 0; /* move the glare across the full card */
  transition: background-position var(--gh-duration) ease-in-out; /* Apply transition only on hover */
}

.glare-overlay.play-once {
  transition: none;
}

.glare-overlay.play-once:hover {
  transition: background-position var(--gh-duration) ease-in-out;
  background-position: 150% 150%, 0 0;
}
