.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh; /* Ensure it takes up significant space on the page */
}

.loader-image {
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}